@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@300&display=swap');
*{
  align-items: center;
  justify-content: center;
}
img{
  width: 20rem;
  height: 15rem;
  border-radius: 1.25rem;
  box-shadow: rgba(50,50,93,0.25) 0px 50px 100px -20px,
  rgba(0,0,0,0.3) 0px 30px 60px -30px;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.imgs{
  display: flex;
  justify-content: space-evenly;
}
.bottombar{
 display: flex;
 gap: 1rem;
 font-size: 3rem;
 cursor: pointer;
}
.icon{
  font-size: 3rem;
  margin: 2rem;
  cursor: pointer;
}
polyline{
  stroke: #36454F;
  stroke-width: 0.5rem;
}
.bar:hover{
  color: white;
  transition: 0.5s;
}
.barWhite{
  color:white;
}

body{
  display: flex;
  background-color: #f3e6ff;
}
h1{
  font-family: kanit;
  justify-content: center;
  text-align: center;
  color: #36454F;
}

